click==7.1.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mysql==0.0.2
mysqlclient==2.0.1
mysql-connector==2.2.9
pip==20.2.2
setuptools==49.6.0
SQLAlchemy==1.3.19
Werkzeug==1.0.1
numpy==1.19.1
scipy==1.5.2
librosa==0.7.2
numba==0.48
tqdm==4.48.2
hydra-core==0.11.3
pyloudnorm==0.1.0
tensorboard==2.3.0
importlib==1.0.4
googletrans==3.0.0
bios==0.1.2
pandas==1.1.1
matplotlib==3.3.1
SpeechRecognition==3.8.1
nltk==3.5
pysptk==0.1.18