{% include 'header.html' %}


<!-- Videos -->
<div id="pricing" class="cards-2" style="padding-top: 8rem">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>My Class</h3>
                <h3>&nbsp;</h3>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Card-->

                {% for i in sqllist %}
                    <div class="card">
                        <div class="label">
                            <p class="category">{{ i[2][0] }}</p>
                        </div>
                        <div class="card-body">
                            <div class="card-title ellipsis">{{ i[0] }}</div>
                            <div class="card-subtitle">{{ i[3] }}</div>
                            <hr class="cell-divide-hr">
                            <div class="price">
                                <div class="video-wrapper">
                                    <div style="max-width:854px">
                                        <div style="position:relative;height:0;padding-bottom:56.25%;
                                                background: url({{ i[4] }});background-size: auto 100%;;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="cell-divide-hr">
                            <span class="value">79</span><span class="percent">%</span>
                            <div class="button-wrapper">
                                <a class="btn-solid-second page-scroll" href="#request">RESULT</a>
                                <a class="btn-solid-reg page-scroll" href="#request">WATCH</a>
                            </div>
                        </div>
                    </div> <!-- end of card -->
                {% endfor %}

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-2 -->
<!-- end of pricing -->


{% include 'footer.html' %}