{% include 'header.html' %}



<!-- Videos -->
<div id="pricing" class="cards-2" style="padding-top: 8rem">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% if name %}
                    {{ name }} 님 반갑습니다.
                {% endif %}

                <form id="search-form" class="search-form">
                    <div class="form-group">
                        <img class="search-img" src="/static/images/search.png">
                        <input type="text" class="form-control-input simple-input" id="search-keyword"
                               placeholder="type to search">
                    </div>
                </form>
            </div>
        </div>
        <h3>&nbsp;</h3>
        <!--
        <div class="row">
            <div class="col-lg-12">
                <h2>See what you like!</h2>
                <p class="p-heading p-large">&nbsp;</p>
            </div>
        </div>  end of row -->
        <div class="row">
            <div class="col-lg-12">
                <!-- Card-->
                {% for i in video_list %}
                    <div class="card">
                        <div class="label">
                            <p class="category">{{ i.topic }}</p>
                        </div>
                        <div class="card-body">
                            <div class="card-title ellipsis">{{ i.title }}</div>
                            <div class="card-subtitle">{{ i.speaker }}</div>
                            <hr class="cell-divide-hr">
                            <div class="price">
                                <div class="video-wrapper">
                                    <div style="max-width:854px">
                                        <div style="position:relative;height:0;padding-bottom:56.25%;
                                                background: url({{ i.image }});background-size: auto 100%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="cell-divide-hr">
                            <p class="ellipsis">
                                {{ i.description }}
                            </p>
                            <div class="button-wrapper">
                                <a class="btn-solid-reg page-scroll" href="/shadowing/{{ i.id }}/0">WATCH</a>
                            </div>
                        </div>
                    </div> <!-- end of card -->
                {% endfor %}
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-2 -->
<!-- end of pricing -->


{% include 'footer.html' %}