{% include 'header.html' %}

<!-- main -->
<div class="basic-3">
    <div class="container">
        <div class="row">
            <!-- Video -->
            <div class="col-lg-6">
                <input type="hidden" id="talks_id" value="{{ talks_info.id }}"/>
                <input type="hidden" id="sentence_id" value="{{ transcript[transcript_index].id }}"/>
                <input type="hidden" id="transcript_index" value="{{ transcript_index }}"/>
                <!-- Video Preview -->
                <div class="image-container">
                    <h3>{{ talks_info.title }}</h3>
                    <h4 class="font-gray3"> by {{ talks_info.speaker }}</h4>
                    <div class="video-wrapper">
                        <div id="player"></div>
                    </div> <!-- end of video-wrapper -->


                </div> <!-- end of image-container -->
                <!-- end of video preview
                <div class="custom-control custom-switch">
                    <input class="custom-control-input" id="customSwitch1" type="checkbox">
                    <label class="custom-control-label" for="customSwitch1">내 목소리로 듣기</label>
                </div>-->
                <div>
                    <button class="btn-solid-reg big-btn" id="convert-btn" onclick="convert()">내 목소리로 듣기</button>
                    <audio src="" style="float: right" id="result_audio"></audio>
                </div>
                <div>
                    <span id="prev-btn" onclick="moveSentence(false)">
                        <img class="btn-img" src="/static/images/left.png">
                           이전 문장
                    </span>
                    <span id="next-btn" onclick="moveSentence(true)">
                        다음 문장
                        <img class="btn-img" src="/static/images/right.png">
                    </span>
                </div>
            </div> <!-- end of col,Video -->

            <!-- Transcript -->
            <div class="col-lg-6">
                <h3>
                    Transcript
                </h3><h4>&nbsp;</h4>
                <p class="transcript-en" id="sentence_en">
                    {{ transcript[transcript_index].sentence_en }}
                </p>
                <p class="transcript-kr" id="sentence_kr">
                    {{ transcript[transcript_index].sentence_kr }}
                </p>
                <div id="user-control" class="row" style="margin-top: 2rem;">
                    <span class="col-sm-2 hide" id="stop-btn" onclick="pause()">
                        <img class="video-btn" src="/static/images/stop.png">
                    </span>
                    <span class="col-sm-2" id="play-btn" onclick="play()">
                        <img class="video-btn" src="/static/images/play.png">
                    </span>
                    <span class="col-sm-2" id="rec-btn">
                        <img class="video-btn" src="/static/images/mic.png">
                    </span>
                    <span class="col-sm-2 hide" id="speak-btn">
                        <img class="video-btn" src="/static/images/speak.png">
                    </span>
                </div>

                <div id="controls">
                </div>
                <div id="formats">&nbsp;</div>

                <ol id="recordingsList" style="list-style: none;">


                </ol>


            </div><!-- end of col,Transcript -->

        </div><!-- end of row -->
        <div class="row" style="width:100%">
                <div class="col-12">
                    <h3 id="word_point">&nbsp;</h3>
                    <table style="float: right">
                        <tbody>
                        <tr id="ted_words">
                            <td></td>
                        </tr>
                        <tr id="user_words">
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div> <!-- end of container -->
</div> <!-- end of basic-3 -->
<!-- end of main -->


{% include 'footer.html' %}

<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
<script src="/static/js/voice_record.js"></script>
<script>

    var converted = 'yet'
    convert()

    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var transcript_index = {{ transcript_index }};

    var player;
    var gap = {{ talks_info.youtube_gap }};
    var start_time = {{ transcript[transcript_index].start_time }} +gap;


    var duration = {{ transcript[transcript_index].duration }};
    var timer = false;

    var now = 0
    var repeat = null;

    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '360',
            width: '640',
            videoId: '{{ talks_info.yt_url }}',
            playerVars: {'autoplay': 0, 'controls': 0, 'loop': 1, 'modestbranding': 1, 'rel': 0},
            events: {
                'onStateChange': onPlayerStateChange
            }
        });

    }

    function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && timer == false) {
            now = player.getCurrentTime() - start_time
            repeat = setInterval(seekToStart, (duration - now) * 1000)
            timer = true;
        } else if (event.data == YT.PlayerState.PAUSED) {
            console.log(player.getPlayerState())
            clearInterval(repeat)
            timer = false
        }
    }

    function play() {
        $("#stop-btn").removeClass("hide")
        $("#play-btn").addClass("hide")
        //player.mute()
        if (player.getCurrentTime() > start_time + duration || player.getCurrentTime() < start_time) {
            seekToStart()
        }
        player.playVideo()
    }

    function pause() {
        $("#play-btn").removeClass("hide")
        $("#stop-btn").addClass("hide")
        player.pauseVideo()
    }

    function seekToStart() {
        player.seekTo(start_time, true)
        //player.playVideo()
    }


    $("#rec-btn").on('click', function () {
        $("#speak-btn").removeClass("hide")
        $("#rec-btn").addClass("hide")

    });
    $("#speak-btn").on('click', function () {
        $("#rec-btn").removeClass("hide")
        $("#speak-btn").addClass("hide")
    });


    function moveSentence(next) {

        var xhr = new XMLHttpRequest();
        xhr.onload = function (e) {
            if (this.readyState === 4) {
                console.log("Server returned: ", e.target.responseText);
                sentence = e.target.responseText
                if (sentence == 'fail') {
                    return;
                }
                sentence = JSON.parse(sentence)
                document.getElementById("sentence_en").textContent = sentence['sentence_en']
                document.getElementById("sentence_kr").textContent = sentence['sentence_kr']
                start_time = sentence['start_time'] + gap
                console.log(sentence['start_time'])
                duration = sentence['duration']
                if (next == true) {
                    ++transcript_index
                } else {
                    --transcript_index
                }
                document.getElementById("transcript_index").value = transcript_index
                document.getElementById("sentence_id").value = sentence['id']
                console.log(player.getPlayerState())
                if (player.getPlayerState() == 1) {
                    console.log('pause and play')
                    pause()
                    play()
                } else {
                    seekToStart()
                }
                removeResult()
                convert()


            }
        };
        var fd = new FormData();
        if (next == true) {
            fd.append("next", "true");
        } else {
            fd.append("next", "false");
        }
        fd.append("transcript_index", document.getElementById("transcript_index").value);
        xhr.open("POST", "/move_sentence", true);
        xhr.send(fd);

    }

    function convert() {
        if (converted != 'yet') {
            return;
        }
        converted = 'doing'
        $("#convert-btn")[0].innerText = "내 목소리로 변환 중..."


        var xhr = new XMLHttpRequest();
        xhr.onload = function (e) {
            if (this.readyState === 4) {
                console.log("Server returned: ", e.target.responseText);

                au = document.getElementById("result_audio")
                au.src = e.target.responseText;
                au.controls = true;
                $("#convert-btn")[0].innerText = "내 목소리로 듣기"
                converted = 'done'
            }
        };
        var fd = new FormData();
        fd.append("talks_id", document.getElementById("talks_id").value);
        fd.append("transcript_index", document.getElementById("transcript_index").value);

        xhr.open("POST", "/convert", true);
        xhr.send(fd);


    }

    function removeResult(){
        converted = 'yet'
        document.getElementById("result_audio").controls =false
        document.getElementById("user_audio").remove()
        document.getElementById("recordingsList").innerHTML=''
        document.getElementById("ted_words").innerHTML='<td></td>'
        document.getElementById("user_words").innerHTML='<td></td>'
        console.log(document.getElementById("user_words"))
    }
</script>